/* SideBar.css */
.sidebar {
  width: 150px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

/* Ajuste o espaçamento entre os ícones e os textos */
.sidebar a > * {
  margin-bottom: 5px; /* Ajuste conforme necessário */
}

/* SideBar.css */
.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.sidebar-link > * {
  margin-right: 5px; /* Ajuste conforme necessário para o espaçamento entre o ícone e o texto */
}